################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/server/Lite/.vs/Lite
/.vs/lite/v17
/src/server/Lite/Lite.Api/bin
/src/server/Lite/Lite.Api/debug
/.vs
