################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/server/Lite/.vs/Lite
/.vs/lite/v17
/src/server/Lite/Lite.Api/bin
/src/server/Lite/Lite.Api/debug
/.vs
/%ProgramData%

# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
*.csproj.user
/src/server/Lite/.vs/ProjectEvaluation
/src/server/Lite/Lite.Api/obj
/src/apps/Lite/%ProgramData%/Microsoft/Windows/UUS/State/_active.uusver
/src/server/Lite/Lite.Contracts/bin/Debug/net8.0
